body {
  background-color: darkslategray;
}

.page {
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h3 {
    color: white; 
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
}

.forms {
  border: 20px solid salmon;
  padding: 30px;
}

.button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: darkslategray;
  margin: auto;
  border: 5px solid salmon;
}

.button:hover {
  background-color: salmon;
}

img {
  width: 200px;
  height: auto;
  position: absolute;
  left: 50%;
    /* position: absolute;
    top: 10px;
    left: 10px; */
}

.text-box {
  color: white;
  font-size: 20px;
}
