body {
    background-color: darkslategray;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: mediumslateblue;
    text-align: center;
    font-size: 60px;
}

.forms {
    border: 20px solid salmon;
    padding: 30px;
}

.button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: darkslategray;
    margin: auto;
    border: 5px solid salmon;
}

.button:hover {
    background-color: salmon;
}

img {
    width: 250px;
    height: auto;
}

.label {
    color: white;
    font-size: 20px;
}
