body {
  background-color: #164A41;
}

.page {
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h3 {
    color: white; 
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
}

.forms {
  border: 20px solid salmon;
  padding: 30px 80px;
}

.button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #164A41;
  margin: auto;
  border: 5px solid salmon;
}

.button:hover {
  background-color: salmon;
}

img {
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-box {
  color: white;
  font-size: 20px;
}
