body {
  background-color: #faf7ff;
}

.page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  color: #58488d;
  /* text-align: center; */
  font-size: 25px;
  margin-top: 0px;
}

h4 {
  color: #58488d;
  /* text-align: center; */
  font-size: 15px;
  margin-top: 0px;
}

.forms {
  border: 2px solid #8973d2;
  padding: 30px 150px;
}

.button {
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  color: #8973d2;
  background-color: #faf7ff;
  margin: auto;
  border: 2px solid #8973d2;
}

.button:hover {
  background-color: #8973d2;
  color: #faf7ff;
}

img {
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-box {
  color: #8973d2;
  font-size: 20px;
}
