body {
    background-color: darkslategray
}

body1{
    background-color: lemonchiffon;
    padding-top: 10px;
}

h1{
    color: mediumslateblue; 
    text-align: center;
    font-size: 60px;
}

h2{
    color: beige;
    text-align: center;
    font-size: 30px;

}
h3{
    color: white; 
    text-align: center;
    font-size: 25px;
}

div{
    color: white; 
    font-size: 20px;
}

li{
    width: 300px;
    border: 20px solid salmon;
    padding: 30px;
    margin: auto;
  }
  .button {
    border: none;
    color: darkslategray;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: darkslategray; 
    color: black; 
    border: 2px solid lemonchiffon;
  }
  
  .button1:hover {
    background-color: lemonchiffon;
    color: white;
  }
