body {
    background-color: #F8DFFF;
}

body1{
    background-color: white;
    padding-top: 10px;
    text-align: centers;
}

h1{
    color: #58488D; 
    text-align: center;
    font-size: 60px;
}

h2{
    color: #8973D2;
    text-align: center;
    font-size: 30px;

}

div{
    color: black; 
    font-size: 20px;
}

li{
    width: 300px;
    border: 2px solid #8973D2;
    padding: 30px;
    margin: auto;
    list-style-type: none;
    color: #8973D2;
}

h3{
    color: #58488D; 
    text-align: center;
    font-size: 25px;
}

.button {
    border: none;
    color: #F8DFFF;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%, -50%);
}
  
.button1 {
    /* width: 300px; */
    background-color: #F8DFFF; 
    color: black; 
    align-self: center;
    text-align: center;
    margin: auto;
    border: 2px solid #8973D2;
    /* padding: 30px; */
}
  
.button1:hover {
    background-color: #8973D2;
    color: black;
}
